<div class="page-header text-center">
	<h1>{{historia.titulo}}</h1>
</div>

<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>

<form novalidate name="formulario" class="row" ng-submit="submeter()">
	<div class="col-md-6">
		<div class="form-group">
			<label>Título</label>
			<input ng-maxlength="20" name="titulo" class="form-control" ng-model="historia.titulo" required>  

			<span ng-show = "formulario.$submitted && formulario.titulo.$error.required"
				class="form-control alert-danger">
				Título obrigatório
			</span>
			<span ng-show="formulario.titulo.$error.maxlength" 
				class="form-control alert-danger">
				No máximo 20 caracteres!
			</span>
		</div>
		<div class="form-group">
			<label>URL</label>
			<input name="url" class="form-control" ng-model="historia.url" required>

			<span ng-show = "formulario.$submitted && formulario.url.$error.required" 
				class="form-control alert-danger">
				URL obrigatória
			</span> 
		</div>
		<div class="form-group">
			<label>Descrição</label>
			<textarea name="descricao" class="form-control" ng-model="historia.descricao">
			</textarea>

			<span ng-show = "formulario.$submitted && formulario.descricao.$error.required" 
				class="form-control alert-danger">
				Descricao obrigatória
		</div>
		<div class="form-group">
			<label>Genero</label>
			<select name="genero" ng-model="historia.genero" class="form-control" 
					required ng-controller="GenerosController" 
					ng-options="genero.nome as (genero.nome | uppercase) for genero in generos">
				<option value="">Escolha um Genero</option>
			</select>
			<span ng-show="formulario.$submitted && formulario.genero.$error.required" 
				class="form-control alert-danger">
				Genero obrigatório
			</span>
		</div>

		<button type="submit" class="btn btn-primary" ng-disabled="formulario.$invalid">
			Salvar
		</button>
		<a href="/#/historias" class="btn btn-primary">Voltar</a>
		<hr>
	</div>
	<div class="col-md-6">
		<minha-historia url="{{historia.url}}" titulo="{{historia.titulo}}"></minha-historia>
	</div>
</form>