<div class="jumbotron">
	<h1 class="text-center">Story-Teller</h1>
</div>

<div class="row">
	<div class="col-md-12">
		<form>

				<input class="form-control" placeholder="filtrar pelo título da Historia" 
					ng-model="filtro" ng-model-options="{ debounce: 500 }">
		</form>
	</div> <!-- fim col-md-12 -->
</div> <!-- fim row -->

<div class="row">
    <meu-painel class="col-md-2 painel-animado" ng-repeat="historia in historias | filter: filtro" titulo="{{historia.titulo}}">
        <minha-historia url="{{historia.url}}" alt="{{historia.titulo}}"></minha-historia>
        <a class="btn btn-primary btn-block" href="/#/lista/historia/{{historia._id}}">
			Abrir
		</a>
    </meu-painel>
</div>
