<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span> 
		    </button>
		    <a class="navbar-brand" href="#/">Story-Teller</a>
		    </div>
		<div class="collapse navbar-collapse" id="myNavbar">
		    <ul class="nav navbar-nav">
		      <li><a href="/#/lista">Lista de Historias</a></li>
		      <li><a href="/#/historia">Minhas Historias</a></li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		      <li><a ng-if="usuarioLogin" href="#/cadastro"><span class="glyphicon glyphicon-user"></span> Log-in</a></li>
		      <li><a required ng-controller="CadastroUsuarioController" ng-if="!usuarioLogin" ng-click="usuarioConfig(usuarioId)" href="/#/usuario/edit/{{usuarioId}}"><span class="glyphicon glyphicon-user"></span> Usuario</a></li>
		      <li><a required ng-controller="CadastroUsuarioController" ng-if="!usuarioLogin" ng-click="sair()"href="/#/cadastro"><span class="glyphicon glyphicon-log-in"></span> Sair</a></li>

		    </ul>
		</div>
	</div>
</nav>