<div class="page-header text-center text-transform: uppercase">
	<h1 >{{historia.titulo}}</h1>
	<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>
</div>

<form novalidate name="formulario" class="row">
	<div>
		<button class="btn btn-primary" ng-click="newCap()">Novo Capítulo</button>
		<button type="submit" class="btn btn-primary" ng-click="submeter()" ng-disabled="formulario.$invalid">
			Salvar
		</button>
		<a href="/#/historia" class="btn btn-primary">Voltar</a>
		<hr>
	</div>
<div class="panel painel-cap painel-animado col-xs-12 col-sm-3" ng-repeat="capitulo in historia.capitulos" style="background-color:#e6e6e6;">
	<div class="panel-heading">
		<label class="col-sm-6 col-xs-6">
			Capítulo: {{$index}}
		</label>
		<button type="button" class="btn btn-default btn-lg col-sm-3 btn-right" ng-click="removeCap(capitulo)">
  				<span class="glyphicon glyphicon-trash"></span>
		</button>
				
    	<div>
    	<label class="col-sm-12 col-xs-12">Texto:</label>
			<textarea spellcheck="true" rows="10" name="textCapitulo" class="form-control" ng-model="capitulo.texto" required></textarea>
			<label class="col-sm-12">Ações:</label>
			<button type="button" class="btn btn-default btn-lg col-sm-12" ng-click="open(capitulo)">
  				<span class="glyphicon glyphicon-list-alt"></span>
			</button>
			<script type="text/ng-template" id="myModal.html">
    		<form novalidate name="formulario" class="row">	
    			<div class="modal-content">
				        <div class="modal-header">

				          <h4 class="modal-title">Ações do Capítulo {{capitulo.numero}}</h4>
				        </div>
				        <div class="modal-body">

							<div ng-repeat="acao in capitulo.acao">
								<button type="button" class="close" ng-click="delLink(acao)"><span class="glyphicon glyphicon-trash"></span></button>
								<label class="col-sm-12">Numero Capitulo</label>
				            	<input type="number" name="numCapitulo" class="form-control" ng-model="acao.numCapitulo" required>
				            	<label class="col-sm-12">Ação</label>
				            	<input name="text" class="form-control" ng-model="acao.text" required>
							</div>
				        </div>
				        <div class="modal-footer">
					        <button class="btn btn-default col-sm-3" ng-click="newLink(capitulo)">Nova Ação</button>
					        <button class="btn btn-default" ng-click="close()" ng-disabled="formulario.$invalid">Salvar</button >
				        </div>
				      </div>
			</form>
  			</script>
		</div>
	</div>
</div>
</form>
