<div ng-include="'/partials/menu.html'"></div>
<div class="container">
<div class="page-header text-center text-transform: uppercase">
	<h1 >{{historia.titulo}}</h1>
	<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>
	<p ng-show="mensagemErro.length" class="alert alert-danger">{{mensagemErro}}</p>
</div>
<form novalidate name="formulario" class="row">
	<div>
		<button class="btn btn-primary" ng-click="newCap()">Novo Capítulo</button>
		<button type="submit" class="btn btn-primary" ng-click="submeter()" ng-disabled="formulario.$invalid">
			Salvar
		</button>
		<a href="/#/historia" class="btn btn-primary">Voltar</a>
		<hr>
	</div>
<div class="panel painel-cap painel-animado col-xs-12 col-sm-3" ng-repeat="capitulo in historia.capitulos" style="background-color:#e6e6e6;">
	<div class="panel-heading">
		<label class="col-sm-12 col-xs-12">
			<h2>Capítulo: {{$index}}</h2>
			<select name="tipo" ng-change="tipoDoCap(capitulo)" ng-model="capitulo.tipo" class="form-control">
				<option value="">Tipo?</option>
				<option value="escolha">Escolhas</option>
				<option value="dados">Dados</option>
				<option value="final">Final</option>
			</select>
		</label>				
    	<div>
    		<br></br>
			<button type="button" class="btn btn-default btn-lg btn-block col-sm-12 col-xs-4" ng-disabled="capitulo.tipo == undefined || capitulo.tipo == ''" ng-click="openCap(capitulo)">
				Texto
  				<span class="glyphicon glyphicon-list-alt"></span>
			</button>
			<br></br>
			<button type="button" class="btn btn-default btn-lg btn-block col-sm-12 col-xs-4" ng-disabled="capitulo.tipo == undefined || capitulo.tipo == 'final' || capitulo.tipo == ''" ng-click="open(capitulo)">
				Ações
  				<span class="glyphicon glyphicon-list-alt"></span>
			</button>
			<button type="btn" class="btn btn-danger btn-block col-sm-12 col-xs-4" ng-click="removeCap(capitulo)">
				Excluir
  				<span class="glyphicon glyphicon-trash"></span>
			</button>
			<script type="text/ng-template" id="myModal.html">
    		<form novalidate name="formulario" class="row" ng-if="tipo == 'escolha'">	
    			<div class="modal-content">
				        <div class="modal-header">
				          <h4 class="modal-title">Ações do Capítulo de {{tipo}}</h4>
				        </div>
				        <div class="modal-body">
							<div ng-repeat="acao in capitulo.acao">
								<button type="button" class="close" ng-click="delLink(acao)"><span class="glyphicon glyphicon-trash"></span></button>
								<label class="col-sm-12">Numero Capitulo:</label>
				            	<input type="number" name="numCapitulo" class="form-control" ng-model="acao.numCapitulo" required>
				            	<label class="col-sm-3">Escolha:</label>
				            	<input name="text" class="form-control" ng-model="acao.text" required>				            	
							</div>
				        </div>
				        <div class="modal-footer">
					        <button class="btn btn-default col-sm-3" ng-model="acao" ng-click="newLink(capitulo)">Nova Ação</button>
					        <button class="btn btn-default" ng-click="close()">Voltar</button >
				        </div>
				      </div>
			</form>
			<form novalidate name="formulario" class="row" ng-if="tipo == 'dados'">	
    			<div class="modal-content">
				        <div class="modal-header">
				          <h4 class="modal-title">Ações do Capítulo de {{tipo}}</h4>
				          <p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>
				          <p ng-show="mensagemErro.length" class="alert alert-danger">{{mensagemErro}}</p>
				        </div>
				        <div class="modal-body">
							<div ng-repeat="acao in capitulo.acao">
								<button type="button" class="close" ng-click="delLink(acao)"><span class="glyphicon glyphicon-trash"></span></button>
								<label class="col-sm-12">Numero Capitulo:</label>
				            	<input type="number" name="numCapitulo" class="form-control" ng-model="acao.numCapitulo" required>
				            	<label class="col-sm-12">Resultado:</label>
				            	<input name="text" class="form-control" ng-model="acao.text" required>
				            	<label class="col-sm-3">Valor:</label>
				            	<select name="numero" ng-model="acao.valor" ng-change="numbers(acao.valor)" ng-options="numero for numero in numeros">
				            	</select>
				            </div>
				        </div>
				        <div class="modal-footer">
					        <button class="btn btn-default col-sm-3" ng-model="acao" ng-click="newLink(capitulo)">Nova Ação</button>
					        <button class="btn btn-default" ng-click="close()">Voltar</button >
				        </div>
				</div>
			</form>
  			</script>
  			<script type="text/ng-template" id="myModalCap.html">
    		<form novalidate name="formulario" class="row">	
    			<div class="modal-content">
				        <div class="modal-header">
				          <textarea ckeditor="editorOptions" spellcheck="true" rows="10" name="textCapitulo" class="form-control" ng-model="capitulo.texto" required></textarea>
				      </div>
				      <div class="modal-footer">
				      <button class="btn btn-default" ng-click="close()">Voltar</button >
				      </div>
			</form>
  			</script>
		</div>
	</div>
</div>
</form>
</div>
