<div class="jumbotron">
	<h1 class="text-center">Story-Teller</h1>
</div>

<p ng-show="mensagem.length" class="alert alert-info">
	{{mensagem}}
</p>

<div class="row col-md-12">
			<div class="input-group">
				<span class="input-group-btn">
					<a href="/#/historias/new" class="btn btn-primary" type="button">
						Nova Historia
					</a>
				</span>
			</div>
</div> <!-- fim row -->
<br></br>
<div class="row">
    <meu-painel class="col-md-2 painel-animado" ng-repeat="historia in historias" titulo="{{historia.titulo}}">
        <minha-historia url="{{historia.url}}" alt="{{historia.titulo}}"></minha-historia>
        Pontuação: {{historia.pontuacao}}
		<a class="btn btn-primary btn-block" href="/#/historias/edit/{{historia._id}}">
			Editar
		</a>
		<a class="btn btn-primary btn-block" href="/#/capitulos/edit/{{historia._id}}">
			Capitulos
		</a>
		<button class="btn btn-primary btn-block" ng-click="disp(historia)">
			Liberar/Retirar
		</button>
		<button class="btn btn-danger btn-block" ng-click="remover(historia)">Remover</button>
    </meu-painel>
</div>
