<div ng-include="'/partials/menu.html'"></div>
<div class="container">
<div class="page-header text-center">
	<h1>{{historia.titulo}}</h1>
	<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>
</div>
	<div class="col-md-6">
		<div>
			<h2>Descrição: </h2>
				{{historia.descricao}}
			<h2>Gênero: </h2>
			<p>
				{{historia.genero}}
			</p>
		</div>
		<a href="/#/lista/historia/jogar/{{historia._id}}" class="btn btn-primary">Jogar</a>
		<a href="/#/lista" class="btn btn-primary">Voltar</a>
		<hr>
		<div>
			<h2>Avalie essa História:</h2>
		<h1 uib-rating ng-model="nota" max="5" read-only="false"></h1>
		<button  class="btn btn-primary" ng-click="avaliar(nota)" ng-disabled="formulario.$invalid">
			Enviar
		</button>
		</div>
	</div>
	<div class="col-md-6">
		<minha-historia url="{{historia.url}}" titulo="{{historia.titulo}}"></minha-historia>
	</div>
<jk-rating-stars max-rating="8" rating="ctrl.rating" read-only="ctrl.readOnly" on-rating="ctrl.onRating(rating)" >
</jk-rating-stars>
</div>