<div ng-include="'/partials/menu.html'"></div>
<div class="container">
<div class="page-header text-center text-transform: uppercase">
	<h1 >{{historia.titulo}}</h1>
</div>
	<div>
		<a href="/#/lista/historia/{{historia._id}}" class="btn btn-primary">Voltar</a>
		<hr>
	</div>
<div align="center">
    <div class="col-centered panel painel-cap col-xs-12 col-sm-12 col-md-6" style="background-color:#e6e6e6;">
			<div class="panel-heading" align="left">
		    			<p ckeditor="editorOptions" ng-model="historia.capitulos.texto"></p>
						<div ng-repeat="acao in historia.capitulos.acao">
						    <button class="col-xs-12 col-sm-12 col-md-12" ng-click="capitulo(acao.numCapitulo)">{{acao.text}}</button>
					    </div>
			</div>

    </div>
</div>
</div>


